.usersonline {
	background: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid #dcdcdc 1px;
	border-collapse: separate;
	padding: 4px;
	margin: 4px;
}
.usersonlinetext {
	padding: 4px;
	margin: 4px;
	align: center;
	vertical-align: middle;
}
.usersonlineicon-tiny {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: solid #dcdcdc 1px;
	max-width: 100%;
	max-height: auto;
	padding: 4px;
	background: white;
}
.usersonlineicon-small {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: solid #dcdcdc 1px;
	max-width: 100%;
	max-height: auto;
	padding: 4px;
	background: white;
}
.usersonlinefriendicon {
	background: #4690d6;
}
.usersonlineadminicon {
	background: #ff2244;
}
